@import '~@angular/material/prebuilt-themes/indigo-pink.css';

body {
  max-width: 1080px;
  margin: auto;
}

.loading {
  position: fixed;
  top: 45%;
  left: 45%;
}

/* NAV BAR AND HEADER */
.nav-wrapper {
  background-color: #008CD4 !important;
  margin: 0;
}

.heading {
  margin: 0;
  padding: 1%;
  background-color: #09A4DD;
  color: #FFFFFF;
}

.name  {
  margin-left: 6%;
}

/* RESUME */
.accent-color {
  color: #06a3e8;
}

.top {
  background-color: #5B666C;
  color: #FFFFFF;
  width: 100%;
  padding: 2%;

}

/* SIDEBAR */
.sidebar {
  width: 30%;
  height: 100%;
  float: left;
  line-height: 2em;
  margin: 0;
  background-color: white;
}

.sidebar md-card {
  height: 730px;
}

.sidebar span {
  float: right;
}

.sidebar li {
  border-bottom: 1px solid #BDBDBD;
}

/* MAIN PAGE */

.mainResume {
  width: 70%;
  float: right;
  padding: 2%;
  min-height: 730px;
  background-color: #F8F8F8;
}

.list {
  margin-left: 4%;
}

.list img {
  filter: grayscale(100%);
}

/* PORTFOLIO */
.portfolio {
  min-height: 3500px;
  background-color: #F8F8F8;
  padding: 1%;
}

.projects md-card {
  width: 40%;
  min-height: 310px;
}


.projects h3 {
  clear: both;
  text-align: center;
  margin-top: 2%;
}

#heroku {
  margin-bottom: -2%;
}

.projectIcons {
  text-align: center;
}

.projectImg {
  width: 60%;
  min-height: 310px;
  height: auto;
  background-size: cover;
}

.background-link {
  width: 100%;
  min-height: 310px;
  padding: 2%;
  color: #FFFFFF;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.5);
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s, opacity 0.1s linear;
}


.projectImg:hover .background-link{
  visibility: visible;
  opacity: 1;
}

.projectImg img {
  width: 100%;
  min-height: 310px;
  height: auto;
}

.leftProject {
  clear: both;
  padding-top: 4%;
}

.rightProject {
  clear: both;
  padding-top: 4%;
}

.leftProject md-card {
  float: left;
  border-bottom: 2px solid #BDBDBD;
  border-right: 2px solid #BDBDBD;
}

.rightProject md-card {
  float: right;
  border-bottom: 2px solid #BDBDBD;
  border-left: 2px solid #BDBDBD;
}

.right {
  float: right;
}

.left {
  float: left;
}


/* FOOTER */
footer a {
  color: black;
  margin: 10%;
}

.container p {
  color: #FFFFFF;
}


/* MOBILE VIEW */
@media (max-width: 768px) {
  .portfolio {
    min-height: 5500px;
  }

  .projects {
    padding: 2%;
  }

  .projects md-card {
    text-align: center;
    width: 100%;
    min-height: 0px;
    margin-bottom: 20px;
  }

  .projectImg {
    width: 100%;
    min-height: 0px;
    height: auto;
  }

  .projectImg img {
    width: 100%;
    min-height: 0px;
    height: auto;
    border: 2px solid #BDBDBD;
    margin: 0;
  }

}

@media (max-width: 460px) {
  body {
    margin: 0;
  }

  .nav-wrapper {
    width: 100%;
  }

  .heading {
    text-align: center;
    margin: 0;
    padding: 1%;
  }

  /* RESUME */
  .top {
    font-size: 1.5em;
    padding: 4%;
  }

  .sidebar {
    float: none;
    width: 95%;
    min-height: 0px;
    margin: auto;
  }

  .sidebar md-card {
    height: auto;
  }

  .mainResume {
    width: 100%;
    float: none;
  }

  /* PORTFOLIO */
  .portfolio {
    min-height: 4500px;
  }

  .projects {
    padding: 2%;
  }

  .projects md-card {
    text-align: center;
    width: 100%;
    min-height: 0px;
    margin-bottom: 20px;
  }

  .background-link {
    min-height: 200px;
  }

  .projectImg {
    width: 100%;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    min-height: 0px;
  }


  .buttons a {
    width: 100%;
  }
}

@media (max-width: 376px) {
  .portfolio {
    min-height: 4250px;
  }

  .projectImg {
    margin-bottom: 10px;
  }

  .background-link {
    min-height: 150px;
  }
}
