<header>
  <nav>
    <div class="nav-wrapper">
      <ul class="left hide-on-med-and-down">
        <li class="tab"><a (click)="show = 'Resume'">Resume</a></li>
        <li class="tab"><a (click)="show = 'Portfolio'">Portfolio</a></li>
      </ul>
    </div>
  </nav>
  <div class="heading">
    <h1 class="name">Wojciech Ryba</h1>
    <h5 class="name">Junior Front-End Developer</h5>
  </div>
</header>
<main>
    <app-resume *ngIf="show === 'Resume'"></app-resume>
    <app-portfolio *ngIf="show === 'Portfolio'"></app-portfolio>
</main>
<footer class="page-footer blue darken-1" id="footer">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <h5 class="white-text">Contact Info</h5>
        <p class="grey-text text-lighten-4">You can contact me at wojryba@gmail.com</p>
      </div>
      <div class="col l4 offset-l2 s12">
        <a href="https://github.com/wojryba/"><i class="fa fa-github fa-4x" aria-hidden="true"></i></a>
        <a href="https://www.facebook.com/wojryba"><i class="fa fa-facebook-official fa-4x" aria-hidden="true"></i></a>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
    © 2017 Wojciech Ryba
    </div>
  </div>
</footer>
