<div class="portfolio" *ngIf="language === 'English'">
  <div class="projects" [@enter]>
    <h3 class="accent-color">Projects</h3>
    <div class="leftProject">
      <div class="projectImg right" [style.background-image]="'url(../../../assets/spotify.png)'">
        <a href="https://enigmatic-sea-40799.herokuapp.com/" target="_blank">
          <div class="background-link">
            <h5>Click to open.</h5>
          </div>
        </a>
      </div>
      <md-card>
        <md-card-title class="accent-color"><a class="accent-color" href="https://enigmatic-sea-40799.herokuapp.com/" target="_blank">Spotify Clone</a></md-card-title>
        <md-card-content>This is a clone of Spotify website and it's Web Player. It uses mostly Angular together with Spotify WebApi. Node and Express are also in use.
        </md-card-content>
        <md-card-actions>
          <div class="projectIcons">
            <a href="https://github.com/wojryba/spotify_clone"><i class="fa fa-github fa-3x" aria-hidden="true"></i><br />«sourcecode»</a>
          </div>
        </md-card-actions>
      </md-card>
    </div>
    <div class="rightProject">

    </div>
  </div>

  <div class="projects" [@enter]>
    <h3 class="accent-color">Remote Team Projects</h3>

    <div class="leftProject">
      <div class="projectImg right" [style.background-image]="'url(../../../assets/momentum.png)'">
        <a href="https://serene-stream-26049.herokuapp.com/" target="_blank">
          <div class="background-link">
            <h5>Click to open.</h5>
          </div>
        </a>
      </div>
      <md-card>
        <md-card-title class="accent-color" class="accent-color"><a href="https://serene-stream-26049.herokuapp.com/" target="_blank">Momentum Clone</a></md-card-title>
        <md-card-content>A remote team project made with <a href="https://github.com/NinoMaj/">Nino_maj</a> and <a href="https://github.com/loolys">Looly</a>. <br />
          React, Redux, Node, Express, MongoDB.
        </md-card-content>
        <md-card-actions>
          <div class="projectIcons">
            <a href="https://github.com/wojryba/momentum_clone-1"><i class="fa fa-github fa-3x" aria-hidden="true"></i><br />«sourcecode»</a>
          </div>
        </md-card-actions>
      </md-card>
    </div>

    <div class="rightProject">
      <div class="projectImg left" [style.background-image]="'url(../../../assets/bot.png)'">
        <a href="https://rhubarb-pie-22231.herokuapp.com/" target="_blank">
          <div class="background-link">
            <h5>Click to open.</h5>
          </div>
        </a>
      </div>
      <md-card>
        <md-card-title class="accent-color" class="accent-color"><a href="https://rhubarb-pie-22231.herokuapp.com/" target="_blank">Number's Bot</a></md-card-title>
        <md-card-content>Remote team project produced together with <a href="https://github.com/asanhix">Asanhix</a>. <br />
          Slack Bot made with Node.JS.
        </md-card-content>
        <md-card-actions>
          <div class="projectIcons">
            <a href="https://github.com/wojryba/A-F-Numbers-bot"><i class="fa fa-github fa-3x" aria-hidden="true"></i><br />«sourcecode»</a>
          </div>
        </md-card-actions>
      </md-card>
    </div>
  </div>

  <div class="projects" [@enter]>
    <h3 class="accent-color">Single Page Web Apps</h3>
    <div class="leftProject">
      <div class="projectImg right" [style.background-image]="'url(../../../assets/picterest.png)'">
        <a href="https://rocky-taiga-53739.herokuapp.com/" target="_blank">
          <div class="background-link">
            <h5>Click to open.</h5>
          </div>
        </a>
      </div>
      <md-card>
        <md-card-title class="accent-color"><a href="https://rocky-taiga-53739.herokuapp.com/" target="_blank">Pinterest Clone</a></md-card-title>
        <md-card-content>Angular app, with node, express and mongodb in the backend.
        </md-card-content>
        <md-card-actions>
          <div class="projectIcons">
            <a href="https://github.com/wojryba/pinterest_clone"><i class="fa fa-github fa-3x" aria-hidden="true"></i><br />«sourcecode»</a>
          </div>
        </md-card-actions>
      </md-card>
    </div>

    <div class="rightProject">
      <div class="projectImg left" [style.background-image]="'url(../../../assets/stock.png)'">
        <a href="https://enigmatic-dusk-97277.herokuapp.com/" target="blank">
          <div class="background-link">
            <h5>Click to open.</h5>
          </div>
        </a>
      </div>
      <md-card>
        <md-card-title class="accent-color"><a href="https://enigmatic-dusk-97277.herokuapp.com/" target="blank">Chart the stock Market</a></md-card-title>
        <md-card-content>Angular app, with express server in the backend.<br />
          App uses Quandl API, and SocketIO.
        </md-card-content>
        <md-card-actions>
          <div class="projectIcons">
            <a href="https://github.com/wojryba/chart_the_stock_market"><i class="fa fa-github fa-3x" aria-hidden="true"></i><br />«sourcecode»</a>
          </div>
        </md-card-actions>
      </md-card>
    </div>

    <div class="leftProject">
      <div class="projectImg right" [style.background-image]="'url(../../../assets/pokemon.png)'">
        <a href="https://cryptic-dusk-78570.herokuapp.com/" target="blank">
          <div class="background-link">
            <h5>Click to open.</h5>
          </div>
        </a>
      </div>
      <md-card>
        <md-card-title class="accent-color"><a href="https://cryptic-dusk-78570.herokuapp.com/" target="blank">Pokemon Trading Center</a></md-card-title>
        <md-card-content>Angular app, with node, express and mongodb in the backend.<br />
          App uses PokeAPI and SocketIO.
        </md-card-content>
        <md-card-actions>
          <div class="projectIcons">
            <a href="https://github.com/wojryba/pokemon_trading_club"><i class="fa fa-github fa-3x" aria-hidden="true"></i><br />«sourcecode»</a>
          </div>
        </md-card-actions>
      </md-card>
    </div>

    <div class="rightProject">
      <div class="projectImg left" [style.background-image]="'url(../../../assets/night.png)'">
        <a href="https://lychee-custard-64732.herokuapp.com/" target="blank">
          <div class="background-link">
            <h5>Click to open.</h5>
          </div>
        </a>
      </div>
      <md-card>
        <md-card-title class="accent-color"><a href="https://lychee-custard-64732.herokuapp.com/" target="blank">Nightlife Coordination App</a></md-card-title>
        <md-card-content>Angular app, with node, express and mongodb in the backend. <br />
          App uses YealpAPI.
        </md-card-content>
        <md-card-actions>
          <div class="projectIcons">
            <a href="https://github.com/wojryba/voting_app"><i class="fa fa-github fa-3x" aria-hidden="true"></i><br />«sourcecode»</a>
          </div>
        </md-card-actions>
      </md-card>
    </div>

    <div class="leftProject">
      <div class="projectImg right" [style.background-image]="'url(../../../assets/vote.png)'">
        <a href="https://damp-coast-64326.herokuapp.com/" target="blank">
          <div class="background-link">
            <h5>Click to open.</h5>
          </div>
        </a>
      </div>
      <md-card>
        <md-card-title class="accent-color"><a href="https://damp-coast-64326.herokuapp.com/" target="blank">Voting App</a></md-card-title>
        <md-card-content>Angular app, with node, express and mongodb in the backend. <br />
          My first Angular app.
        </md-card-content>
        <md-card-actions>
          <div class="projectIcons">
            <a href="https://github.com/wojryba/voting_app"><i class="fa fa-github fa-3x" aria-hidden="true"></i><br />«sourcecode»</a>
          </div>
        </md-card-actions>
      </md-card>
    </div>
  </div>

</div>



<div class="portfolio" *ngIf="language === 'Polish'">
  <div class="projects" [@enter]>
    <h3 class="accent-color">Projekty</h3>
    <div class="leftProject">
      <div class="projectImg right" [style.background-image]="'url(../../../assets/spotify.png)'">
        <a href="https://enigmatic-sea-40799.herokuapp.com/" target="blank">
          <div class="background-link">
            <h5>Kliknij by otworzyć.</h5>
          </div>
        </a>
      </div>
      <md-card>
        <md-card-title class="accent-color" class="accent-color"><a href="https://enigmatic-sea-40799.herokuapp.com/" target="blank">Klon Spotify</a></md-card-title>
        <md-card-content>Klon Spotify Web Player. Aplikacja używa gówłnie Angular. BackEnd zrobiony w Node i Express.
        </md-card-content>
        <md-card-actions>
          <div class="projectIcons">
            <a href="https://github.com/wojryba/spotify_clone"><i class="fa fa-github fa-3x" aria-hidden="true"></i><br />«sourcecode»</a>

          </div>
        </md-card-actions>
      </md-card>
    </div>
    <div class="rightProject">

    </div>
  </div>

  <div class="projects" [@enter]>
    <h3 class="accent-color">Zdalne Projekty Zespołowe</h3>

    <div class="leftProject">
      <div class="projectImg right" [style.background-image]="'url(../../../assets/momentum.png)'">
        <a href="https://serene-stream-26049.herokuapp.com/" target="blank"><div class="background-link">
          <h5>Kliknij by otworzyć.</h5>
        </div>
      </a>
      </div>
      <md-card>
        <md-card-title class="accent-color" class="accent-color"><a href="https://serene-stream-26049.herokuapp.com/" target="blank">Klon Momentum</a></md-card-title>
        <md-card-content>Projekt zespołowy wykonany zdalnie, wspólnie z <a href="https://github.com/NinoMaj/">Nino_maj</a> i <a href="https://github.com/loolys">Looly</a>. <br />
          React, Redux, Node, Express, MongoDB.
        </md-card-content>
        <md-card-actions>
          <div class="projectIcons">
            <a href="https://github.com/wojryba/momentum_clone-1"><i class="fa fa-github fa-3x" aria-hidden="true"></i><br />«sourcecode»</a>

          </div>
        </md-card-actions>
      </md-card>
    </div>

    <div class="rightProject">
      <div class="projectImg left" [style.background-image]="'url(../../../assets/bot.png)'">
        <a href="https://rhubarb-pie-22231.herokuapp.com/" target="blank">
          <div class="background-link">
            <h5>Kliknij by otworzyć.</h5>
          </div>
        </a>
      </div>
      <md-card>
        <md-card-title class="accent-color" class="accent-color"><a href="https://rhubarb-pie-22231.herokuapp.com/" target="blank">Number's Bot</a></md-card-title>
        <md-card-content>Projekt zespołowy wykonany zdalnie, wspólnie z <a href="https://github.com/asanhix">Asanhix</a>. <br />
          Slack Bot wykonany w Node.JS.
        </md-card-content>
        <md-card-actions>
          <div class="projectIcons">
            <a href="https://github.com/wojryba/A-F-Numbers-bot"><i class="fa fa-github fa-3x" aria-hidden="true"></i><br />«sourcecode»</a>
          </div>
        </md-card-actions>
      </md-card>
    </div>
  </div>

  <div class="projects" [@enter]>
    <h3 class="accent-color">Single Page Web Apps</h3>
    <div class="leftProject">
      <div class="projectImg right" [style.background-image]="'url(../../../assets/picterest.png)'">
        <a href="https://rocky-taiga-53739.herokuapp.com/" target="blank">
          <div class="background-link">
            <h5>Kliknij by otworzyć.</h5>
          </div>
        </a>
      </div>
      <md-card>
        <md-card-title class="accent-color"><a href="https://rocky-taiga-53739.herokuapp.com/" target="blank">Klon Pinterest</a></md-card-title>
        <md-card-content>Aplikacja wykonana w Angular. Backend w  node, express, oraz mongodb.
        </md-card-content>
        <md-card-actions>
          <div class="projectIcons">
            <a href="https://github.com/wojryba/pinterest_clone"><i class="fa fa-github fa-3x" aria-hidden="true"></i><br />«sourcecode»</a>
          </div>
        </md-card-actions>
      </md-card>
    </div>

    <div class="rightProject">
      <div class="projectImg left" [style.background-image]="'url(../../../assets/stock.png)'">
        <a href="https://enigmatic-dusk-97277.herokuapp.com/" target="blank">
          <div class="background-link">
            <h5>Kliknij by otworzyć.</h5>
          </div>
        </a>
      </div>
      <md-card>
        <md-card-title class="accent-color"><a href="https://enigmatic-dusk-97277.herokuapp.com/" target="blank">Chart the stock Market</a></md-card-title>
        <md-card-content>Angular, z serverem w express.<br />
          Aplikacja używa Quandl API, oraz SocketIO.
        </md-card-content>
        <md-card-actions>
          <div class="projectIcons">
            <a href="https://github.com/wojryba/chart_the_stock_market"><i class="fa fa-github fa-3x" aria-hidden="true"></i><br />«sourcecode»</a>
          </div>
        </md-card-actions>
      </md-card>
    </div>

    <div class="leftProject">
      <div class="projectImg right" [style.background-image]="'url(../../../assets/pokemon.png)'">
        <a href="https://cryptic-dusk-78570.herokuapp.com/" target="blank">
          <div class="background-link">
            <h5>Kliknij by otworzyć.</h5>
          </div>
        </a>
      </div>
      <md-card>
        <md-card-title class="accent-color"><a href="https://cryptic-dusk-78570.herokuapp.com/" target="blank">Pokemon Trading Center</a></md-card-title>
        <md-card-content>Aplikacja wykonana w Angular. Backend w  node, express, oraz mongodb..<br />
          Aplikacja używa PokeAPI and SocketIO.
        </md-card-content>
        <md-card-actions>
          <div class="projectIcons">
            <a href="https://github.com/wojryba/pokemon_trading_club"><i class="fa fa-github fa-3x" aria-hidden="true"></i><br />«sourcecode»</a>

          </div>
        </md-card-actions>
      </md-card>
    </div>

    <div class="rightProject">
      <div class="projectImg left" [style.background-image]="'url(../../../assets/night.png)'">
        <a href="https://lychee-custard-64732.herokuapp.com/" target="blank">
          <div class="background-link">
            <h5>Kliknij by otworzyć.</h5>
          </div>
        </a>
      </div>
      <md-card>
        <md-card-title class="accent-color"><a href="https://lychee-custard-64732.herokuapp.com/" target="blank">Nightlife Coordination App</a></md-card-title>
        <md-card-content>Aplikacja wykonana w Angular. Backend w  node, express, oraz mongodb. <br />
          Aplikacja używa YealpAPI.
        </md-card-content>
        <md-card-actions>
          <div class="projectIcons">
            <a href="https://github.com/wojryba/voting_app"><i class="fa fa-github fa-3x" aria-hidden="true"></i><br />«sourcecode»</a>
          </div>
        </md-card-actions>
      </md-card>
    </div>

    <div class="leftProject">
      <div class="projectImg right" [style.background-image]="'url(../../../assets/vote.png)'">
        <a href="https://damp-coast-64326.herokuapp.com/" target="blank">
          <div class="background-link">
            <h5>Kliknij by otworzyć.</h5>
          </div>
        </a>
      </div>
      <md-card>
        <md-card-title class="accent-color"><a href="https://damp-coast-64326.herokuapp.com/" target="blank">Voting App</a></md-card-title>
        <md-card-content>Aplikacja wykonana w Angular. Backend w  node, express, oraz mongodb. <br />
          Moja pierwsza strona wykonana w Angular.
        </md-card-content>
        <md-card-actions>
          <div class="projectIcons">
            <a href="https://github.com/wojryba/voting_app"><i class="fa fa-github fa-3x" aria-hidden="true"></i><br />«sourcecode»</a>
          </div>
        </md-card-actions>
      </md-card>
    </div>
  </div>

</div>
