<div class="top" [@enter]>
  <p>I'm 22 years old. Presently I live in Lublin. I've been learning FrontEnd development for the past half a year. Mostly, I've been working with MEAN Stack. I possess experience in remote work with a team. Two projects were build this way, and third one is in the making. I'm a quick learner. I love to know how things work.</p>
</div>
<aside class="sidebar" [@enter]>
  <md-card>
    <h4 class="accent-color">Personal</h4>
    <ul>
      <li><strong>Name</strong> <span>Wojciech Ryba</span></li>
      <li><strong>Birthday</strong> <span>13.08.1994</span></li>
      <li><strong>Languages</strong> <span>Polish (native), <br /> English (fluent)</span></li>
      <br />
      <li><strong>Email</strong> <span>wojryba@gmail.com</span></li>
    </ul>
    <br />
    <h4 class="accent-color">Software</h4>
    <ul>
      <li>Studying for more than 6 months.</li>
      <li>Focused on FrontEnd.</li>
      <li>Experience in remote work with a team.</li>
      <li>FreeCodeCamp Back End Certificate.</li>
      <li>Would love to work with Angular or React.</li>
    </ul>
    <ul>
      <li><a href="https://github.com/wojryba/">Github Repository</a></li>
      <li><a href="https://desolate-island-96266.herokuapp.com/">Portfolio</a></li>
    </ul>
  </md-card>
</aside>
<main class="mainResume" [@enter]>
  <h4 class="accent-color">Skills:</h4>
  <h5 class="accent-color">Mostly Worked with:</h5>
  <div class="list">
    <ul>
      <li>
        <p><i class="material-icons">&#xE876;</i> <strong>Angular</strong> <span> - My favorite framework.</span></p>
      </li>
      <li>
        <p><i class="material-icons">&#xE876;</i> <strong>HTML/CSS/JavaScript</strong> <span> - Practiced with every project.</span></p>
      </li>
      <li>
        <p><i class="material-icons">&#xE876;</i> <strong>Node/Express</strong> <span> - Finished FreeCodeCamp Back End Certificate.</span></p>
      </li>
      <li>
        <p><i class="material-icons">&#xE876;</i> <strong>Git/GitHub</strong> </p>
      </li>
    </ul>
  </div>
  <h5 class="accent-color">Also familiar with:</h5>
  <div class="list">
    <ul>
      <li>
        <p><i class="material-icons">&#xE5CC;</i> React&Redux - Used in remote team project - 'Momentum Clone'. </p>
      </li>
      <li>
        <p><i class="material-icons">&#xE5CC;</i> MongoDB - With Moongoose.</p>
      </li>
      <li>
        <p><i class="material-icons">&#xE5CC;</i> ES6 </p>
      </li>
      <li>
        <p><i class="material-icons">&#xE5CC;</i> Bootstrap </p>
      </li>
    </ul>
  </div>
</main>
