<div class="top" [@enter]>
  <p>I'm 22 years old. Presently I live in Lublin. I've been learning FrontEnd development for the past half a year. Mostly, I've been working with MEAN Stack. I possess experience in remote work with a team. Two projects were build this way, and third one is in the making. I'm a quick learner. I love to know how things work.</p>
</div>
<aside class="sidebar" [@enter]>
  <md-card>
    <h4 class="accent-color">Personal</h4>
    <ul>
      <li><strong>Name</strong> <span>Wojciech Ryba</span></li>
      <li><strong>Birthday</strong> <span>13.08.1994</span></li>
      <li><strong>Languages</strong> <span>Polish (native), <br /> English (fluent)</span></li>
      <br />
      <li><strong>Email</strong> <span>wojryba@gmail.com</span></li>
    </ul>
    <br />
    <h4 class="accent-color">Software</h4>
    <ul>
      <li>Studying for more than 6 months.</li>
      <li>Focused on FrontEnd.</li>
      <li>Experience in remote work with a team.</li>
      <li>FreeCodeCamp Back End Certificate.</li>
      <li>Would love to work with Angular or React.</li>
    </ul>
  </md-card>
</aside>
<main class="mainResume" [@enter]>
  <h4 class="accent-color">Skills:</h4>
  <div class="list">
    <h5 class="accent-color">Mostly Worked with:</h5>
    <md-list>
      <md-list-item>
        <h5 md-line><i class="material-icons">&#xE5CC;</i> Angular </h5>
        <p md-line>My favorite framework.</p>
      </md-list-item>
      <md-list-item>
        <h5 md-line><i class="material-icons">&#xE5CC;</i> HTML/CSS/JavaScript </h5>
        <p md-line>Practiced with every project.</p>
      </md-list-item>
      <md-list-item>
        <h5 md-line><i class="material-icons">&#xE5CC;</i> Node/Express </h5>
        <p md-line>Finished FreeCodeCamp Back End Certificate.</p>
      </md-list-item>
      <md-list-item>
        <h5 md-line><i class="material-icons">&#xE5CC;</i> Git/GitHub </h5>
      </md-list-item>
    </md-list>
    <h5 class="accent-color">Also familiar with:</h5>
    <md-list>
      <md-list-item>
        <p md-line> React&Redux - Used in remote team project - 'Momentum Clone'. </p>
      </md-list-item>
      <md-list-item>
        <p md-line>MongoDB - With Moongoose.</p>
      </md-list-item>
      <md-list-item>
        <p md-line> ES6 </p>
      </md-list-item>
      <md-list-item>
        <p md-line>Bootstrap </p>
      </md-list-item>
    </md-list>
  </div>
</main>
